.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 190px;
}
.main-content__logo {
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
}
.main-content__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}
.main-content__subtitle {
  color: gray;
  opacity: 0.8;
}
.main-content__btn {
  margin-top: 265px;
  width: 80%;
}
.main-content__btn__form {
  display: flex;
  flex-direction: column;
}
.main-content__btn__form input {
  padding: 25px 0px;
  border-radius: 12px;
  margin-bottom: 5px;
  font-size: 20px;
}
.main-content__btn__form input:first-child {
  background-color: #06c755;
  color: white;
}
