.call-main {
  height: 89%;
}
.call-welcome {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.call-welcome__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.call-welcome__sub {
  width: 90%;
  text-align: center;
  color: gray;
  margin-bottom: 20px;
}
.call-welcome__button {
  width: 30%;
  background-color: white;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 0px;
  font-weight: 600;
}
