.dialogue-contents {
  display: flex;
  width: 100%;
  justify-content: center;
}
.dialogue-bar {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.dialogue-bar__column:first-child {
  display: flex;
  width: 68%;
  align-items: center;
}
.dialogue-bar__text {
  display: flex;
  flex-direction: column;
}
.dialogue-bar__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.dialogue-bar__subtitle {
  font-size: 14px;
  color: gray;
  opacity: 0.6;
}
.dialogue-bar__logo {
  background-color: #06c755;
  color: white;
  border: 1px solid #06c755;
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  font-size: 12px;
}
.dialogue {
  margin-right: 10px;
}
