.home-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.home-header__column {
  display: flex;
  align-items: center;
}
.home-header__profile {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}
.home-header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}
.home-header__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.home-header__subtitle {
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  padding: 4px 6px;
}
.home-header__column i {
  cursor: pointer;
}
.home-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.home-list__column {
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.home-list__column:first-child i {
  margin-right: 10px;
}
.home-list__column:nth-child(2) {
  margin-bottom: 40px;
}
.home-list__column:nth-child(2) i {
  margin-right: 10px;
}
.home-list__column:nth-child(4) {
  display: flex;
  justify-content: space-between;
}
.home-list__subtitle {
  color: gray;
  opacity: 0.5;
}
.home-list__icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.home-list__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-list__icon i {
  margin-bottom: 5px;
}
.home-list__img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-list__img img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
.home-list__column__info {
  color: gray;
  opacity: 0.8;
}
.home-list__column__info i {
  margin-right: 5px;
}
