.home-main {
  height: 89%;
}
.home-main__top {
  height: 12%;
  padding: 10px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-main__top__column:first-child {
  display: flex;
  align-items: center;
}
.home-profile__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.home-main__top__column:last-child i {
  margin-left: 10px;
}
.home-main__top__title {
  font-size: 20px;
  font-weight: 600;
}
.home-main__top__box {
  margin-top: 10px;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
}

.home-main__sub {
  height: 14%;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-main__sub__rows {
  display: flex;
  justify-content: space-between;
}
.home-main__search {
  background-color: #f6f6f6;
  border-style: none;
  border-radius: 5px;
  width: 100%;
  height: 25px;
  padding: 0 5px;
  box-sizing: border-box;
}

.home-main__else {
  height: 74%;
  padding: 10px;
  box-sizing: border-box;
}
.home-main__else__rows {
  display: flex;
  justify-content: space-between;
}
.home-main__else__rows:nth-child(2) {
  margin: 20px 0;
}
.home-main__else__sub {
  color: gray;
}
.home-main__else__lists {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.home-main__else__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-main__else__text {
  margin-top: 5px;
}
.home-main__else__rows:nth-child(4) {
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}
.home-main__else__img {
  width: 100px;
  height: 100px;
}
.home-main__else__img__text {
  margin-top: 10px;
}
.home-main__else__rows:last-child {
  color: gray;
  justify-content: center;
  text-align: center;
}
.info-text {
  margin-left: 3px;
  font-size: 13px;
}
