.talk-main {
  height: 89%;
  background-color: #a1b5da;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
  }
}
.talk-box__contents {
  animation: fadeIn 1s ease-in-out;
}

.talk-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.talk-time__day {
  background-color: #879aba;
  color: white;
  font-size: 13px;
  width: 110px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin-bottom: 10px;
}
.talk-time__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #879aba;
  color: white;
  border-radius: 20px;
  width: 95%;
  height: 50px;
}
.talk-time__info__time {
  margin-bottom: 3px;
  font-size: 13px;
}
.talk-time__info__sub {
  text-align: center;
  font-size: 10.5px;
}
.talk-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 15px 10px;
}
.talk-box__stamp {
  font-size: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.talk-box__time {
  display: flex;
  align-items: center;
  margin-top: 3px;
  font-size: 5px;
}
.talk-box__text {
  background-color: #06c755;
  height: 25px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border-top-right-radius: 0px;
  padding: 0px 10px;
  box-sizing: border-box;
  margin-left: 5px;
}
.left {
  flex-direction: row-reverse;
  align-items: initial;
}
.left-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.left > .talk-box__text {
  background-color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  margin-right: 5px;
  margin-top: 8px;
}
.left > .talk-box__time {
  display: flex;
  align-items: flex-end;
}
.input-bar {
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-bar i {
  font-size: 25px;
}
.input-bar__column:first-child {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input-bar__column:nth-child(2) {
  position: relative;
  width: 60%;
  height: 80%;
}
.input-bar__input {
  width: 100%;
  border-radius: 20px;
  border-style: none;
  height: 100%;
  background-color: #f6f6f6;
  padding-left: 20px;
  box-sizing: border-box;
}
.input-bar__smile {
  position: absolute;
  right: 5px;
  top: 10px;
  color: gray;
}
.input-bar__column:last-child {
  width: 10%;
  display: flex;
  justify-content: center;
}
