.upload__contents {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 80px 300px 0px 300px;
  padding: 20px;
  .upload__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .upload__form {
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 10px;
      width: 200px;
      border-style: none;
      border-radius: 5px;
      padding: 5px;
      &[type="submit"] {
        width: 100px;
        background-color: darkgrey;
        cursor: pointer;
      }
    }
  }
  hr {
    border: 1px solid gray;
    width: 100%;
    margin: 30px 0px 30px 0px;
  }
}
