extends base

block content
    h4 Change Title of Video
    form(method="POST")
        input(placeholder="Video Title", value=video.title, required, name="title", type="text", maxlength="20")
        input(placeholder="Description", value=video.description, required, name="description", type="text")
        input(placeholder="Hashtags, separated by comma.", value=video.hashtags.join(), required, name="hashtags", type="text")
        input(value="Save", type="submit")