doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
    body 
        header
            h1 It works!
        main 
            div#welcome
                form
                    input(type="text", placeholder="room name", required)
                    button Enter Room
            div#room
                h3
                ul
                form
                    input(type="text" placeholder="Write a message", required)
                    button Send Message
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js") 