extends base.pug

block content 
    form(method="POST")
        input(name="Name", type="text", required, placeholder="name")
        input(name="Email", type="email", required, placeholder="email")
        input(name="Username", type="text", required, placeholder="username")
        input(name="Password", type="password", required, placeholder="password")
        input(name="Location", type="text", required, placeholder="location")
        input(type="submit", value="Join")