body {
  padding-left: 10px;
}
ul {
  padding-left: 0;
  width: 80%;
  height: 400px;
  flex-direction: column;
  overflow-y: scroll;
}
li {
  list-style: none;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.fromMsg {
  background-color: #f0f0f0;
}
.toMsg {
  background-color: dodgerblue;
  display: flex;
  justify-content: flex-end;
  color: white;
}
#chatForm {
  width: 600px;
}
#chatForm input[type="text"] {
  width: 60%;
  margin-right: 10px;
  padding: 5px;
}
#chatForm input[type="submit"] {
  cursor: pointer;
}
