.center-contents {
  margin-top: var(--center-contents-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-contents__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: var(--center-contents-text-margin);
  align-items: center;
}
.center-contents__text__title {
  font-size: 20px;
  font-weight: var(--font-bold-weight);
  margin-bottom: var(--center-contents-title-margin);
}
.center-contents__text__subtitle {
  color: gray;
  opacity: 0.8;
  width: 60%;
}
.center-contents__sub {
  width: 40%;
}
.center-contents__sub form {
  display: flex;
  flex-direction: column;
}
.center-contents__sub form input {
  background-color: white;
  border: var(--center-contents-button-border);
  border-radius: 10px;
  padding: 16px 12px;
  font-size: 18px;
  font-weight: 900;
}
.default_center {
  margin-top: var(--default-center-contents-margin);
}
