.header-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--header-bar-color);
}
.header-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
}
.header-bar__column i {
  margin-right: 5px;
}
