.nav-bar {
  border-top: 1px solid #f6f6f6;
  height: 7%;
}
.nav-bar__lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.nav-bar__lists a {
  height: 100%;
}
.nav-bar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.nav-bar__lists a:nth-child(2) {
  position: relative;
}
.talk-dot {
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: -6%;
  right: -18%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
