.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.nav-bar__list {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  box-shadow: var(--nav-bar-shadow);
}
.nav-bar__list__column a {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nav-bar__list__column i {
  margin-bottom: 10px;
}
