.section-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--section-bar-padding);
}
.section-bar__title {
  font-size: var(--section-bar-title-size);
  font-weight: var(--font-bold-weight);
}
.section-bar__icons {
  display: flex;
  align-items: center;
}
