extends base

block content 
    h4 Change Title of video
    form(action="" method="POST")
        input(name="title", type="text" value=video.title placeholder="Video Title" required, style="width: 770px;")
        input(name="description", type="text", value=video.description, placeholder="Description", required, style="width: 770px; height: 300px; resize: none;")
        input(name="hashtags", type="text" value=video.hashtags ? video.hashtags.join() : "" placeholder="Hashtags, separated by comma.", style="width: 770px; height: 40px;")
        input(type="Submit" value="Save")